[MAIN]
# Use multiple processes to speed up pylint
jobs = 1

[MESSAGES CONTROL]
# Disable specific messages
disable =
    too-few-public-methods

[FORMAT]
# Maximum number of characters on a single line
max-line-length = 100

# Maximum number of lines in a module
max-module-lines = 1000

[BASIC]
# Good variable names which should always be accepted
good-names = i, j, k, n, a, b, x, y, _

[DESIGN]
# Maximum number of arguments for function / method
max-args = 5

# Maximum number of return / yield for function / method body
max-returns = 6
